.header {
  display: flex;
  height: 58px;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #ffffff;
}
.header-left {
  color: #ffffff;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  padding-left: 79px;
}

.header-right {
  display: flex;
  padding-right: 79px;
}

.header-right-icons {
  position: relative;
  width: 122px;
  display: flex;
  justify-content: space-between;
  padding-right: 25px;
}

.header-right-icons::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border-left: 1px solid rgba(255, 255, 255, 0.9);
}
.header-right-wrapper {
  display: flex;
  align-items: center;
  padding-left: 27px;
}
.header-right-login a {
  color: #ffffff;
}
.header-right-login a:hover,
.header-left:hover {
  color: #01813f;
}

.svg:hover path {
  fill: #3cb878;
}
