@import url(./reset.css);
@import url(./header.css);

@font-face {
  font-family: "Facebook";
  src: url(../fonts/KlavikaDisplay-BlackCondensed.woff2);
  font-weight: 400;
  font-display: swap;
}

html {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  border: 0;
}

.wrapper {
  width: 100%;
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  /* margin: auto; */
}

.main {
  height: 712px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-form {
  width: 444px;
  height: 584px;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}
.wrapper-form::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 29px;
  bottom: 537px;
  border-right: 18px solid rgba(60, 184, 120, 1);
}
.content-form {
  width: 322px;
}

.header-form-start {
  display: flex;
  justify-content: space-between;
  padding: 31px 0 15px;
}

.text-span {
  display: block;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}

.text-link-text {
  color: rgba(60, 184, 120, 1);
}

.text-link-text:hover {
  color: rgba(1, 129, 63, 1);
  text-decoration: underline;
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding-bottom: 19px;
}

.button-akk {
  width: 160px;
  height: 48px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* line-height: 16px; */
  border-radius: 5px;
  width: 47%;
  color: rgba(255, 255, 255, 1);
  /* font-family: "Facebook"; */
  font-size: 16px;
  font-weight: 40px;
}

.button-akk::before {
  content: "";
  display: block;
  position: absolute;
  left: 48px;
  top: 10px;
  bottom: 10px;
  border-right: 1px solid rgba(10, 22, 47, 0.1);
}
/* Klavika шрифт гугл
} */
.button-facebook {
  font-size: 24px;
  background-color: rgba(48, 93, 184, 1);
}
.button-facebook:hover {
  background-color: rgba(2, 34, 99, 1);
  transition: background-color 0.3s ease;
}
.left-button {
  padding-left: 17px;
  font-family: "Facebook";
}
.right-button {
  font-size: 20px;
  padding-right: 22px;
}
.right-button-google {
  padding-right: 27px;
}
.button-google {
  background-color: rgba(223, 74, 50, 1);
  transition: background-color 0.3s ease;
}
.button-google:hover {
  background-color: rgba(171, 31, 9, 1);
}

.or-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
}
.line {
  position: relative;
  top: 7px;
  width: 50%;
  border-top: 1px solid rgba(242, 242, 242, 1);
}
.word {
  display: block;
  width: 15px;
  height: 14px;
  padding: 0 2px 0 5px;
}

/* Налаштування інпутів: */

.input {
  width: 100%;
  display: block;
  height: 45px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  margin-bottom: 14px;
}
.input:focus {
  border: 0;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
.input::placeholder {
  color: rgba(190, 190, 190, 1);
  font-size: 14px;
  line-height: 14px;
  padding-left: 20px;
}
.link-agree {
  color: rgba(60, 184, 120, 1);
}
.link-agree:hover {
  color: rgba(1, 129, 63, 1);
  text-decoration: underline;
}

input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  line-height: 20px;
  cursor: pointer;
}
input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
  left: 3px;
  top: 4px;
  width: 10px;
  height: 5px;
  border-radius: 1px;
  border-left: 4px solid rgba(60, 184, 120, 1);
  border-bottom: 4px solid rgba(60, 184, 120, 1);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
input[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
}

input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.forchekbox {
  margin-bottom: 20px;
}
.sendform {
  width: 100%;
  display: block;
  background-color: rgba(60, 184, 120, 0.8);
  transition: background-color 0.3s ease;
  height: 45px;

  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 16px;
}
.sendform:hover {
  background-color: rgba(1, 129, 63, 1);
}
.textcreate {
  width: 126px;
  height: 14px;
  color: rgb(255, 255, 255);
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}
